project:
  type: website

website:
  title: "Brisbane Geospatial Community of Practice"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme: litera
    css: styles.css

editor: visual

